@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

/* custom classes */

.flex-auto-all > * {
  @apply flex-auto;
}

.full-card {
  @apply card p-2 h-full;
}
